footer{
  background: #000000;
  .copyright{
    max-width: 700px;
    margin: 0 auto;
    padding: 65px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & > h2{
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      text-transform: uppercase;
      color: #FEFEFE;
      padding: 10px 0;
    }
    & > p{
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      color: #B9B9B9;
      padding: 10px 0;
    }

    &__contacts,
    &__contacts >a{
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      color: #B9B9B9;
      padding: 10px 0;
    }
    &__image{
      display: flex;
      justify-content: center;
      & > img{
        max-width: 34px;
        height: 100%;
        margin: 5px;
      }
    }
    &__contacts{
      display: flex;
      align-items: center;
      & > p,
      & > a{
        margin: 0 15px;
      }
    }
  }
}



