@import "./_variables.scss";

.instagram-shots{
  background:  #E5E5E5;
  &__information{
    padding: 45px 0;
  }
  &__tittle{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  &__tittle-right,
  &__tittle-left{
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: $text-color;
  }
  &__tittle-left{
    cursor: pointer;
  }

  &__image{
    list-style-type: none;
  }
  &__image{
    display: flex;
    gap: 20px;
  }
  &__image img{
    width: 100%;
    height: 100%;
  }
}





