@import "./_variables.scss";

body{
  font-family: $font-stack;
  font-style: normal;
  background: #FFFFFF;
  margin: 0 auto;
}

.container {
  height: 100%;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.fas{
  background: #000000;
  text-align: center;
  padding: 8px;
}
.fa-bars:before,
.fa-times:before{
  color: #FFFFFF;
}

.burger{
  border: 1px solid black;
  width: 44px;
  height: 37px;
  cursor: pointer;
  display: $display-none;
}

.top-menu{
  padding: 30px 0;
  &__list{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__item{
    list-style-type: none;
    padding: 15px 5px;
    & > a{
      font-weight: 400;
      font-size: 11px;
      line-height: 22px;
      text-transform: uppercase;
      color:  $text-color;
    }
    & > a:hover{
      color: #57A4A4;
    }
  }
}

.header-image{
  width: 100%;
  height: 100%;
  text-align: center;
}

